@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Thin.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Thin.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Thin.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Thin.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Thin.svg#Roboto") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: "Roboto-Thin";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Thin.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Thin.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Thin.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Thin.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Thin.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.svg#Roboto") format("svg");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-ThinItalic.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Light.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Light.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Light.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Light.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Light.svg#Roboto") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Roboto-Light";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Light.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Light.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Light.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Light.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Light.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.svg#Roboto") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-LightItalic.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Regular.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Regular.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Regular.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Regular.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Regular.svg#Roboto") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Roboto-Regular";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Regular.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Regular.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Regular.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Regular.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Regular.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.svg#Roboto") format("svg");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "Roboto-RegularItalic";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-RegularItalic.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Medium.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Medium.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Medium.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Medium.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Medium.svg#Roboto") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Roboto-Medium";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Medium.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Medium.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Medium.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Medium.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Medium.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.svg#Roboto") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-MediumItalic.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Bold.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Bold.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Bold.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Bold.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Bold.svg#Roboto") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Roboto-Bold";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Bold.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Bold.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Bold.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Bold.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Bold.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.svg#Roboto") format("svg");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-BoldItalic.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Black.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Black.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Black.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Black.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Black.svg#Roboto") format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "Roboto-Black";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Black.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-Black.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-Black.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-Black.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-Black.svg#Roboto") format("svg"); }
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.svg#Roboto") format("svg");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.eot");
  src: url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.woff") format("woff"), url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.ttf") format("truetype"), url("../bower_components/roboto-fontface/fonts/Roboto-BlackItalic.svg#Roboto") format("svg"); }
body {
  margin: 0;
  font-family: roboto; }

*, *:after, *:before {
  box-sizing: border-box; }

.main {
  text-align: center;
  position: relative;
  margin-top: 20px; }

.outer {
  position: absolute;
  background-color: #fff;
  border: solid 3px #ababab;
  display: inline-block;
  width: 200px;
  height: 200px;
  left: calc(50% - 100px);
  top: 145px;
  border-radius: 50%;
  z-index: 5; }

.inner {
  z-index: 10;
  position: absolute;
  background: #fff;
  border: solid 3px #b88f8f;
  display: inline-block;
  width: 140px;
  height: 140px;
  left: calc(50% - 70px);
  top: 175px;
  border-radius: 50%;
  background-color: #eee; }

.nobe {
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 16px;
  top: -1px;
  background: #6e6464; }

.nobei {
  top: -16px;
  background: #eaeaea; }

.openi {
  position: absolute;
  left: -4px;
  top: calc(50% - 5px);
  width: 5px;
  height: 10px;
  background: #fff; }

.openo {
  position: absolute;
  right: -4px;
  top: calc(50% - 5px);
  width: 5px;
  height: 10px;
  background: #fff; }

.buttons {
  position: absolute;
  left: calc(50% - 245px);
  width: 490px;
  height: 490px;
  background-color: #f7f7f7;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.23); }

.btn, .reset, .unlock, .clc {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: solid 1px #eaeaea;
  cursor: pointer;
  outline: none;
  background-color: #106cc8;
  color: #fff;
  font-size: 18px;
  font-family: roboto;
  transition: all ease 0.2s; }
  .btn.true, .true.reset, .true.unlock, .true.clc {
    background-color: #0c5299; }

.reset, .unlock {
  position: relative;
  left: auto;
  border-radius: 50%;
  width: auto;
  padding: 0 10px; }

.unlock {
  height: 50px;
  display: inline-block; }

.clc {
  position: absolute;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  top: 205px;
  z-index: 15;
  background-color: #FF6868; }

/*# sourceMappingURL=me.css.map */
