<!DOCTYPE html>
<html ng-app="me" ng-controller="mainCtrl">
<head>
	<title>ME761A</title>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/me.js"></script>
	<link rel="stylesheet" type="text/css" href="css/me.css">
</head>
<body>
	<div style="text-align:center;margin-top:10px;">
		<div>
			Outer Disk:{{ocurrent%360}}&deg; &nbsp;&nbsp;&nbsp;&nbsp;Middle disk:{{icurrent%360}}&deg; &nbsp;&nbsp;&nbsp;&nbsp;Inner Disk{{iicurrent%360}}&deg;
		</div>
		<button ng-click="reset()" class="reset">Scramble</button>
	</div>
	<div class="main">
		<div class="father" style="transition:all ease 0.6s;transform: rotate({{iicurrent}}deg);">
			<span class="openo"></span>
			<span class="nobe nobei"></span>
		</div>
		<div class="outer" style="transition:all ease 0.6s;transform: rotate({{ocurrent}}deg);">
			<span class="nobe"></span>
			<span class="openo"></span>
		</div>
		<div class="inner" style="transition:all ease 0.6s;transform: rotate({{icurrent}}deg);">
			<span class="nobe nobei"></span>
			<span class="nobe nobeii"></span>
			<span class="openi"></span>
		</div>
		<button class="clc" ng-click="DIR=-1*DIR"><img ng-src="img/{{DIR==1?'rotate.png':'counter.svg'}}"></button>
		<div class="buttons">
			<img src="img/arrow.png" style="position: absolute;right: -189px;top: 142px;width: 200px;z-index: -1;">
			<span style="position: absolute;right: -355px;top: 223px;width: 200px;z-index: -1;color:rgb(16, 108, 200);font-size:30px;">{{unlocked==true?'Unlocked':'Locked'}}</span>
			<button ng-click="nnjoy(btn)" class="btn {{ocurrent%360 == (30*btn)%360}}" ng-repeat="btn in buttons" style="top:{{215-200*Math.cos(torad(btn*30))}}px;left:{{215+200*Math.sin(torad(btn*30))}}px">{{btn}}</button>
		</div>
	</div>
</body>
</html>