<!DOCTYPE html>
<html ng-app="me" ng-controller="mainCtrl">
<head>
	<title>ME761A</title>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/me.js"></script>
	<link rel="stylesheet" type="text/css" href="css/me.css">
</head>
<body>
	<div style="text-align:center;margin-top:10px;">
		<div>
			o:{{icurrent%360}}&deg; &nbsp;&nbsp;&nbsp;&nbsp;i:{{ocurrent%360}}&deg;
		</div>
		<a class="unlock">{{unlocked==true?'Unlocked':'Locked'}}</a>
		<button ng-click="reset()" class="reset">Scramble</button>
	</div>
	<div class="main">

		<div class="outer" style="transition:all ease 0.6s;transform: rotate({{ocurrent}}deg);">
			<span class="nobe"></span>
			<span class="openo"></span>
		</div>
		<div class="inner" style="transition:all ease 0.6s;transform: rotate({{icurrent}}deg);">
			<span class="nobe nobei"></span>
			<span class="openi"></span>
		</div>
		<button class="clc" ng-click="DIR=-1*DIR">{{DIR==1?'CW':'CCW'}}</button>
		<div class="buttons">
			<button ng-click="nnjoy(btn)" class="btn {{ocurrent%360 == (30*btn)%360}}" ng-repeat="btn in buttons" style="top:{{215-200*Math.cos(torad(btn*30))}}px;left:{{215+200*Math.sin(torad(btn*30))}}px">{{btn}}</button>
		</div>
	</div>
</body>
</html>